body, font, option, h1, h2, h3, h4, h5, h6, td, th, a, span, ul, ol, p, dd, dl, dt, div, blockquote {
	 font-size: 10pt;
	 font-family: Arial,Helvetica,Geneva,sans-serif;
}

tt, pre {
	 font-size: 10pt;
	 font-weight: normal;
	 font-family: Geneva,Rockwell,Courier;
}

body, font {
	 color: black;
	 background-color: white;
}

body {
	 margin-left: 0px;
	 margin-top: 0px;
	 margin-right: 0px;
}

.subhead {
	 color: #666666;
}

h1,h2,h3,h4,h5,h6 {
	 margin-bottom: 0px;
	 margin-top: 5px;
}

h1 {
	 font-size: 14pt;
	 font-weight: bold;
	 color: #336699;
	 margin-top: 0px;
}

h2 {
	 font-size: 12pt;
	 font-weight: bold;
	 color: #336699;
	 font-style: normal;
}

h3 {
	 font-size: 12pt;
	 font-weight: bold;
	 color: #4682B4;
}

h4 {
	 font-size: 11pt;
	 font-weight: bold;
	 color: #336699;
	 font-style: italic;
}

h5 {
	 font-size: 10pt;
	 font-weight: bold;
	 color: #000000;
}

h6 {
	 font-size: 10pt;
	 font-weight: bold;
	 color: #778899;
	 font-style: italic;
}

.pullquote {
	 color: #003366;
	 font-weight: normal;
}

table {
	 border-color: white;
}

td {
	 border-color: white;
}

td.header {
	 background-color: #003366;
}

th {
	 text-align: left;
	 color: black;
	 font-weight: bold;
	 background-color: #CCCCCC;
}

th.bold {
	 text-align: left;
	 color: white;
	 font-weight: bold;
	 background-color: black;
}

hr {
	 color: #999999;
}

ul {
	 list-style-type: disc;
}

b, strong {
	 font-weight: bold;
}

 form, input, select, option {
	 font-size: 10pt;
	 text-decoration: none;
	 font-weight: normal;
	 color: black;
}

 input {
	 font-size: 10pt;
}

form.funklet {
	 margin-bottom: 0pt;
}

input.smsearch {
	 font-size: 9pt;
}

input.searchinput {
	 font-size: 9pt;
}

.unihead {
	 background-color: #999999;
}

table.pagehead, td.pagehead, .pagehead {
	 background-color: #003366;
	 color: #003366;
}

table.border {
	 border: 1;
	 cellspacing: 0;
	 cellpadding: 3;
}

table.noborder {
	 border: 0;
	 cellspacing: 0;
	 cellpadding: 3;
}

.red {
	 color: red;
}

.formsectionhead {
	 background-color: #A4CFEA;
}

a:link {
	 font-size: 10pt;
	 font-family: Arial,Helvetica,Geneva,sans-serif;
}

a:hover, a:active {
	 color: #999900;
}

.secnavt {
	 font-size: 10pt;
	 font-weight: bold;
	 color: #666666;
}

.secnavp {
	 color: #AAAAAA;
}

td.navline {
	 background-repeat: repeat-y;
	 background-image: url(/global/images/nav/line.gif);
}

.secnav, tr.secnav, td.secnav, span.secnav, a.secnav, a.secnav:link, a.secnav:visited {
	 font-size: 10pt;
	 font-weight: bold;
	 text-decoration: none;
	 color: #003366;
}

.secnavb, tr.secnavb, td.secnavb, span.secnavb, a.secnavb, a.secnavb:link, a.secnavb:visited {
	 font-size: 10pt;
	 font-weight: bold;
	 text-decoration: none;
	 color: #003366;
}

.secnav2, tr.secnav2, td.secnav2, span.secnav2, a.secnav2, a.secnav2:link, a.secnav2:visited {
	 font-size: 9pt;
	 text-decoration: none;
	 color: #003366;
}

.secnav2b, tr.secnav2b, td.secnav2b, span.secnav2b, a.secnav2b, a.secnav2b:link, a.secnav2b:visited {
	 font-size: 9pt;
	 font-weight: bold;
	 text-decoration: none;
	 color: #003366;
}

.secnav3, tr.secnav3, td.secnav3, span.secnav3, a.secnav3, a.secnav3:link, a.secnav3:visited {
	 font-size: 7pt;
	 font-family: Verdana,Arial,Helvetica,Geneva,sans-serif;
	 text-decoration: none;
	 color: #003366;
}

.greynav, tr.greynav, td.greynav, span.greynav, a.greynav, a.greynav:link, a.greynav:visited {
	 font-size: 10pt;
	 font-weight: bold;
	 text-decoration: none;
	 color: #666666;
}

.greynav2, tr.greynav2, td.greynav2, span.greynav2, a.greynav2, a.greynav2:link, a.greynav2:visited {
	 font-size: 9pt;
	 text-decoration: none;
	 color: #666666;
}

.little, tr.little, td.little, span.little, a.little, a.little:link, a.little:visited {
	 font-size: 7pt;
	 font-family: Verdana,Arial,Helvetica,Geneva,sans-serif;
}

.caption, tr.caption, td.caption, span.caption {
	 font-size: 7pt;
	 font-family: Verdana,Arial,Helvetica,Geneva,sans-serif;
	 color: #666666;
}

td.rbdrcaption  {
	 font-size: 7pt;
	 font-family: Verdana,Arial,Helvetica,Geneva,sans-serif;
	 border-right: 1px solid #999999;
	 color: #666666;
}

a.caption, a.caption:link, a.caption:visited {
	 font-size: 7pt;
	 font-family: Verdana,Arial,Helvetica,Geneva,sans-serif;
	 color: #0000FF;
}

.footer, tr.footer, td.footer, span.footer, a.footer, a.footer:link, a.footer:visited {
	 font-size: 7pt;
	 font-family: Verdana,Arial,Helvetica,Geneva,sans-serif;
	 color: #666666;
}

.contact, tr.contact, td.contact, span.contact, a.contact, a.contact:link, a.contact:visited {
	 font-size: 7pt;
	 font-family: Verdana,Arial,Helvetica,Geneva,sans-serif;
	 color: #666666;
}

.breadcrumb, tr.breadcrumb, td.breadcrumb, span.breadcrumb, a.breadcrumb, a.breadcrumb:link, a.breadcrumb:visited {
	 font-size: 7pt;
	 font-family: Verdana,Arial,Helvetica,Geneva,sans-serif;
	 color: #0000FF;
	 text-decoration: none;
}

.toplinks, tr.toplinks, td.toplinks, span.toplinks, a.toplinks, a.toplinks:link, a.toplinks:visited {
	 font-size: 10pt;
	 font-weight: bold;
	 color: white;
	 text-decoration: none;
}

.news, tr.news, td.news, span.news, a.news, a.news:link, a.news:visited {
	 font-size: 7pt;
	 font-family: Verdana,Arial,Helvetica,Geneva,sans-serif;
	 text-decoration: underline;
}

a.secnav:active, a.secnav:hover, a.secnav2:active, a.secnav2:hover, a.secnav3:active, a.secnav3:hover, a.secnavb:active, a.secnavb:hover, a.secnav2b:active, a.secnav2b:hover, a.contact:active, a.contact:hover, a.footer:active, a.footer:hover, a.caption:active, a.caption:hover, a.breadcrumb:active, a.breadcrumb:hover {
	 color: #999900;
}

a.toplinks:active, a.toplinks:hover {
	 color: #FFCC33;
}

a.greynav:active, a.greynav:hover, a.greynav2:active, a.greynav2:hover {
	 color: #000000;
}

.iasecnav, tr.iasecnav, td.iasecnav, span.iasecnav, a.iasecnav, a.iasecnav:link, a.iasecnav:visited {
	 font-size: 10pt;
	 font-weight: bold;
	 text-decoration: none;
	 color: #006666;
}

.iasecnav2, tr.iasecnav2, td.iasecnav2, span.iasecnav2, a.iasecnav2, a.iasecnav2:link, a.iasecnav2:visited {
	 font-size: 9pt;
	 text-decoration: none;
	 color: #006666;
}

.iapullquote {
	 color: #006666;
	 font-weight: normal;
}

td.ta1, tr.ta1 {
	 text-align: center;
	 color: white;
	 background-color: #993333;
	 font-weight: bold;
}

td.ta2, tr.ta2 {
	 background-color: #1F6A9E;
	 color: white;
	 font-weight: bold;
}

td.ta3, tr.ta3 {
	 background-color: #A0C4DD;
}

td.ta4, tr.ta4 {
	 background-color: #DEEBF3;
}

td.tb1, tr.tb1 {
	 background-color: #B0C4DE;
	 color: black;
	 font-weight: bold;
}

td.tb2, tr.tb2 {
	 background-color: #F0F8FF;
	 color: black;
}

/*******   tables, rows and cells   *******/

.tbdr
{
	background: #ffffff;
	font-size: x-small;
	border-left: 1px solid #999999;	
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

.hbdr
{ 
	background: #b0c4de;
	font-weight: bold;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

.hbdrLeft
{
	background: #b0c4de;
	font-weight: bold;
	text-align: left;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

.hbdrRight
{
	background: #b0c4de;
	font-weight: bold;
	text-align: right;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

.hbdrCenter
{	
	background: #b0c4de;
	font-weight: bold;
	text-align: center;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

.selectbdr
{
	background: #999999;
	color: #eeeeee;
	font-weight: bold;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

.altbdr
{
	background: #f0f8ff;
	border-right: 1px solid #999999;
	border-top: 1px solid #dddddd;

}  

.altbdrLeft
{
	background: #f0f8ff;
	text-align: left;
	border-right: 1px solid #999999;
	border-top: 1px solid #dddddd;
}

.altbdrRight
{
	background: #f0f8ff;
	text-align: right;
	border-right: 1px solid #999999;
	border-top: 1px solid #dddddd;
}

.altbdrCenter
{
	background: #f0f8ff;
	text-align: center;
	border-right: 1px solid #999999;
	border-top: 1px solid #dddddd;
}

.bdr
{
	border-right: 1px solid #999999;
	border-top: 1px solid #dddddd;
} 

.bdrLeft
{
	text-align: left;
	border-right: 1px solid #999999;
	border-top: 1px solid #dddddd;
}

.bdrRight
{ 
	text-align: right;
	border-right: 1px solid #999999;
	border-top: 1px solid #dddddd;
}

.bdrCenter
{ 
	text-align: center;
	border-right: 1px solid #999999;
	border-top: 1px solid #dddddd;
}

/*******   form elements   *******/

select, 
input, 
option,
.formElement
{
	font-family: verdana, arial, helvetica, sans-serif;
}

/*******   buttons   *******/

.btnLgeGreen
{
	background: #00bb66;
	border-left: 2px solid #00dd66;
	border-top: 2px solid #00dd66;
	border-right: 2px solid #008800;
	border-bottom: 2px solid #008800;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	height: 22px;
	width: 76px;
}

.btnLgeOrange
{
	background: #eeaa44;
	border-left: 2px solid #ffbb44;
	border-top: 2px solid #ffbb44;
	border-right: 2px solid #bb0000;
	border-bottom: 2px solid #bb0000;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	height: 22px;
	width: 76px;
}

.btnLgeWideRed
{
	background: #ff0000;
	border-left: 2px solid #ffbbbb;
	border-top: 2px solid #ffbbbb
	border-right: 2px solid #bb0000;
	border-bottom: 2px solid #bb0000;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	height: 22px;
	width: 94px;
}

.btnLgeWideGreen
{
	background: #00bb66;
	border-left: 2px solid #00dd66;
	border-top: 2px solid #00dd66;
	border-right: 2px solid #008800;
	border-bottom: 2px solid #008800;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	height: 22px;
	width: 94px;
}

.btnLgeWideOrange
{
	background: #eeaa44;
	border-left: 2px solid #ffbb44;
	border-top: 2px solid #ffbb44;
	border-right: 2px solid #bb0000;
	border-bottom: 2px solid #bb0000;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	height: 22px;
	width: 110px;
}

.btnLgeGrey
{
	background: #aaaaaa;
	border-left: 2px solid #cccccc;
	border-top: 2px solid #cccccc;
	border-right: 2px solid #666666;
	border-bottom: 2px solid #666666;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	height: 22px;
	width: 76px;
}

.btnLgeBlue
{
	background: #0066bb;
	border-left: 2px solid #0066ff;
	border-top: 2px solid #0066ff;
	border-right: 2px solid #000066;
	border-bottom: 2px solid #000066;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	height: 22px;
	width: 76px;
}

.btnLgeRed
{
	background: #ff0000;
	border-left: 2px solid #ffbbbb;
	border-top: 2px solid #ffbbbb;
	border-right: 2px solid #bb0000;
	border-bottom: 2px solid #bb0000;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	height: 22px;
	width: 76px;
}

.btnSmlGreen
{
	background: #00bb66;
	border-left: 2px solid #00dd66;
	border-top: 2px solid #00dd66;
	border-right: 2px solid #008800;
	border-bottom: 2px solid #008800;
	color: #ffffff;
	font-size: 9px;
	font-weight: normal;
	height: 18px;
	width: 48px;
} 

.btnSmlWideGreen
{
	background: #00bb66;
	border-left: 2px solid #00dd66;
	border-top: 2px solid #00dd66;
	border-right: 2px solid #008800;
	border-bottom: 2px solid #008800;
	color: #ffffff;
	font-size: 9px;
	font-weight: normal;
	height: 18px;
	width: 72px;
}

.btnSmlXWideGreen
{
	background: #00bb66;
	border-left: 2px solid #00dd66;
	border-top: 2px solid #00dd66;
	border-right: 2px solid #008800;
	border-bottom: 2px solid #008800;
	color: #ffffff;
	font-size: 9px;
	font-weight: normal;
	height: 18px;
	width: 100px;
}

.btnSmlXXWideGreen
{
	background: #00bb66;
	border-left: 2px solid #00dd66;
	border-top: 2px solid #00dd66;
	border-right: 2px solid #008800;
	border-bottom: 2px solid #008800;
	color: #ffffff;
	font-size: 9px;
	font-weight: normal;
	height: 18px;
	width: 150px;
}

.btnSmlRed
{
	background: #ff0000;
	border-left: 2px solid #ffbbbb;
	border-top: 2px solid #ffbbbb;
	border-right: 2px solid #bb0000;
	border-bottom: 2px solid #bb0000;
	color: #ffffff;
	font-size: 9px;
	font-weight: normal;
	height: 18px;
	width: 48px;
}

.btnSmlOrange
{
	background: #eeaa44;
	border-left: 2px solid #ffbb44;
	border-top: 2px solid #ffbb44;
	border-right: 2px solid #bb0000;
	border-bottom: 2px solid #bb0000;
	color: #ffffff;
	font-size: 9px;
	font-weight: normal;
	height: 18px;
	width: 48px;
}

.btnSmlGrey
{
	background: #aaaaaa;
	border-left: 2px solid #cccccc;
	border-top: 2px solid #cccccc;
	border-right: 2px solid #666666;
	border-bottom: 2px solid #666666;
	color: #ffffff;
	font-size: 9px;
	font-weight: normal;
	height: 18px;
	width: 48px;
} 

.btnSmlWideGrey
{
	background: #aaaaaa;
	border-left: 2px solid #cccccc;
	border-top: 2px solid #cccccc;
	border-right: 2px solid #666666;
	border-bottom: 2px solid #666666;
	color: #ffffff;
	font-size: 9px;
	font-weight: normal;
	height: 18px;
	width: 72px;
}

.btnSmlXWideGrey
{
	background: #aaaaaa;
	border-left: 2px solid #cccccc;
	border-top: 2px solid #cccccc;
	border-right: 2px solid #666666;
	border-bottom: 2px solid #666666;
	color: #ffffff;
	font-size: 9px;
	font-weight: normal;
	height: 18px;
	width: 100px;
}

.btnSmlXXWideGrey
{
	background: #aaaaaa;
	border-left: 2px solid #cccccc;
	border-top: 2px solid #cccccc;
	border-right: 2px solid #666666;
	border-bottom: 2px solid #666666;
	color: #ffffff;
	font-size: 9px;
	font-weight: normal;
	height: 18px;
	width: 150px;
}

.btnSmlBlue
{
	background: #0066bb;
	border-left: 2px solid #0066ff;
	border-top: 2px solid #0066ff;
	border-right: 2px solid #000066;
	border-bottom: 2px solid #000066;
	color: #ffffff;
	font-size: 9px;
	font-weight: normal;
	height: 18px;
	width: 48px;
}

.btnSmlWideBlue
{
	background: #0066bb;
	border-left: 2px solid #0066ff;
	border-top: 2px solid #0066ff;
	border-right: 2px solid #000066;
	border-bottom: 2px solid #000066;
	color: #ffffff;
	font-size: 9px;
	font-weight: normal;
	height: 18px;
	width: 72px;
}

.btnSmlXWideBlue
{
	background: #0066bb;
	border-left: 2px solid #0066ff;
	border-top: 2px solid #0066ff;
	border-right: 2px solid #000066;
	border-bottom: 2px solid #000066;
	color: #ffffff;
	font-size: 9px;
	font-weight: normal;
	height: 18px;
	width: 100px;
}

.btnSmlXXWideBlue
{
	background: #0066bb;
	border-left: 2px solid #0066ff;
	border-top: 2px solid #0066ff;
	border-right: 2px solid #000066;
	border-bottom: 2px solid #000066;
	color: #ffffff;
	font-size: 9px;
	font-weight: normal;
	height: 18px;
	width: 150px;
}

/******  Extra large buttons *******/
.btnXLgeRed
{
	background: #ff0000;
	border-left: 2px solid #ffbbbb;
	border-top: 2px solid #ffbbbb
	border-right: 2px solid #bb0000;
	border-bottom: 2px solid #bb0000;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	height: 22px;
}

.btnXLgeGreen
{
	background: #00bb66;
	border-left: 2px solid #00dd66;
	border-top: 2px solid #00dd66;
	border-right: 2px solid #008800;
	border-bottom: 2px solid #008800;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	height: 22px;
}

.btnXLgeOrange
{
	background: #eeaa44;
	border-left: 2px solid #ffbb44;
	border-top: 2px solid #ffbb44;
	border-right: 2px solid #bb0000;
	border-bottom: 2px solid #bb0000;
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	height: 22px;
}

/******* errors and alerts ********/
  
.alert
{
	color: #ff0000;
}

.error
{
	color: #ff0000;
	font-weight: bold;
}

/*******   misc   *******/

.notes
{
	font-size: xx-small;
	color: #005A94;
}

.notesRed
{
	font-size: xx-small;
	color: #ff0080;
}

.bdrGrayOnlyBottom
{
   border-bottom : 1px solid #dddddd;
}

.bdrGrayOnlyTop
{
   border-top : 1px solid #dddddd;
}

.tfbdr
{
	background: #ffffff;
	font-size: x-small;
	border: 1px solid #999999;	
}